@charset "utf-8";
@import url("mclibre-pie.css");
/* CSS HTML */
html {
    background-color: #2d8652;
}
/* CSS BODY */
body {
    font-size: 1.5rem;
}
/* CSS H1 */
h1 {
    font-family: sans-serif;
}
/* CSS EM */
em {
    color: white;
}
/* CSS P */
p {
    font-family: sans-serif;
    color: #f3d7a8;
}
/* CSS SPAN */
span {
    font-family: "Comic Sans", cursive;
    color: #e61a4d;
}
/* CSS DIV */
div {
    color: #fc9e24;
    font-size: 1.5rem;
    font-family: monospace;
}